@model AspNetProjekt.Models.ItemDto

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Dodaj";
}
@if (String.IsNullOrEmpty(@Model.ItemId))
{
    <h1>Dodaj</h1>
}
else
{
    <h1>Edytuj</h1>
}

<h4>Przedmiot</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateItemForm" method="post" asp-controller="shop" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="ItemId" />
            <div class="form-group">
                <label asp-for="ItemName" class="control-label"></label>
                <input asp-for="ItemName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="ItemPrice" class="control-label"></label>
                <input asp-for="ItemPrice" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="ItemDiscout" class="control-label"></label>
                <input asp-for="ItemDiscout" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="ItemAvalibility" class="control-label"></label>
                <input asp-for="ItemAvalibility" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="ItemDescription" class="control-label"></label>
                <input asp-for="ItemDescription" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" class="form-control" accept="image/*" />
            </div>
            <div class="form-group">
                @Html.ListBoxFor(x => x.Categories,@Model.categoriesList)
            </div>
            <div class="form-group">
                @if (String.IsNullOrEmpty(@Model.ItemId))
                {
                    <input type="submit" value="Dodaj" class="btn btn-primary" />
                }
                else
                {
                    <input type="submit" value="Edytuj" class="btn btn-primary" />
                }
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Cofnij</a>
</div>