@page
@model AspNetProjekt.Areas.Identity.Pages.Account.Manage.MessagesModel
@{
}
<table class="table">
    <thead>
        <tr>
            <th>
                Wiadomość
            </th>
            <th>
                Ok
            </th>
        </tr>
    </thead>
    <tbody>
        @for(int i = Model.Messages.Count() - 1;i > 0; i--)
        {
            <tr>

                <td>
                    @if(Model.Messages[i].Viewed){                       
                        @Model.Messages[i].message
                    }
                    else
                    {
                        <span class="text-danger">@Model.Messages[i].message</span>
                    }
                </td>
                <td>
                    <a  asp-page-handler="Ok" asp-route-id="@Model.Messages[i].CustomerWishItemMessageId" class="btn btn-primary">ok</a>
                </td>
            </tr>
        }
    </tbody>
</table>